html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --blue: #00b7f4;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0 50px;
  background: #fff;
}

.logo img {
  width: 40px;
  height: 40px;
}
.nav {
  height: 100%;
}
.nav__list {
  height: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item + .nav__item {
  margin-left: 25px;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  position: relative;
}
.nav__link:hover {
  color: var(--blue);
}

/* :focus спрацює при кліку або виборі клавіатурою */
.nav__link:focus {
  color: var(--blue);
  /* Додаємо це, щоб прибрати стандартну рамку фокусу (outline) браузера,
     оскільки у нас вже є свій індикатор фокусу (лінія знизу) */
  outline: none;
}

.nav__link:focus::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--blue);
  border-radius: 2px;
}
