html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

:root {
  --blue: #00acdc;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: #fff;
  box-sizing: border-box;
}

.logo img {
  width: 40px;
  height: 40px;
  display: block;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item + .nav__item {
  margin-left: 20px;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  position: relative;
}

.nav__link:hover {
  color: var(--blue);
}

.is-blue {
  color: var(--blue);
}

.is-active {
  color: var(--blue);
}

.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--blue);
  border-radius: 2px;
}
